input {
  syslog {
   port => "{{ logstash_server_port }}"
  }
}
output {
  # this is so you can `docker logs -f <id>` and see output
  # you'll want to turn it off in real servers
   stdout { codec => rubydebug }
  #file {
  #   path => "/var/log/logstash/logstash.stdout"
  #   }

{% if send_to_host and send_to_port %}
  # this is really just a demo, forware all logs
  # to a host that is running nc -lk {{ send_to_port }}
  tcp {
    host => "{{ send_to_host }}"
    port => {{ send_to_port }}
    }
{% endif %}
}