{#
   Copyright 2015 VMware, Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#} 
input {
  syslog {
   port => "{{ logstash_server_port }}"
  }
}
output {
  # this is so you can `docker logs -f <id>` and see output
  # you'll want to turn it off in real servers
   stdout { codec => rubydebug }
  #file {
  #   path => "/var/log/logstash/logstash.stdout"
  #   }

#{% if send_to_host and send_to_port %}
#  # this is really just a demo, forware all logs
#  # to a host that is running nc -lk {{ send_to_port }}
#  tcp {
#    host => "{{ send_to_host }}"
#    port => {{ send_to_port }}
#    }
#{% endif %}

{% if groups['elasticsearch'] %}
  elasticsearch {
    cluster => "{{ cluster_name }}"
    # comma separated list of elasticsearch hosts
    host => [{% for host in groups['elasticsearch'] %}"{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}"{% if not loop.last %}, {% endif %}{% endfor %}]
    protocol => "transport"
    sniffing => true
  }
{% endif %}
}
